In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('heart_train.csv')
df.head()

,Unnamed: 0,id,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,0,0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,1,1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,2,2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,3,3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,4,4,39,M,NAP,120,339,0,Normal,170,N,0.0,Up,0

In [4]:
# Target variable is Heart Disease, Binary Classification problem
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 643 entries, 0 to 642
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      643 non-null    int64
 1   id              643 non-null    int64
 2   Age             643 non-null    int64
 3   Sex             643 non-null    object
 4   ChestPainType   643 non-null    object
 5   RestingBP       643 non-null    int64
 6   Cholesterol     643 non-null    int64
 7   FastingBS       643 non-null    int64
 8   RestingECG      643 non-null    object
 9   MaxHR           643 non-null    int64
 10  ExerciseAngina  643 non-null    object
 11  Oldpeak         643 non-null    float64
 12  ST_Slope        643 non-null    object
 13  HeartDisease    643 non-null    int64
dtypes: float64(1), int64(8), object(5)
memory usage: 70.5+ KB